//////////////////
@import './_fonts.scss';
@import './_mixins.scss';
@import './_vars';
////////////////////


body {
    background-color: $whiteColor;
    color: white;
    &.lock{
        overflow: hidden;
    }
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:$textColor;
}
button{
    border:0;

    outline: 0;

    background-color: $whiteColor;
}
*{
    box-sizing: border-box;
}

.btn{
    transition: .3s ease;
    &:hover{
        background-color: #d5ff7b54;

        transform: scale(1.1);
    }
}




@import './_header.scss';
@import './burger';
@import './navigation';
